
//Color

$primary-color: darkblue;

$secondary-color: #828489;

$dark-primary: darken ($primary-color, 20%);
    
$bg-color: #C9C9C9;
    
$font-color: #202020;

$off-white: #F9F9F9;

$white: #fff;

$border: darken ($off-white, 20%);


// Links
    
$blinks: dodgerblue;

$active-blinks: lightcoral;
    

//Font
    
$primary-font: 'Roboto Slab', 'Open Sans', sans-serif;
    
$base-font: 'Open Sans', sans-serif !default;
    
$font-size: 1em;
    
$line-height: $font-size * 1.5;

$h1-size: $font-size * 2;

$align: center;

$bold: bold;


    
// Layout
    
$full-width: 100%;
    
$width-auto: auto;

$con-block: block;



// Media Queries

$break-medium: 768px;
    
$break-large: 1024px;
